*,
*::before,
*::after { box-sizing:border-box; }

body,
h1, h2, h3, h4, h5, h6, 
p, 
ul, ol, dd,
fieldset{
  margin:0; 
  padding:0; 
}

body {
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    // sans-serif;
    font-family: $open-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: $prpl5;
    color: $wht1;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul, ol, dd { 
  list-style:none; 
}
fieldset { 
  border-width:0; 
  outline: none;
}
a { 
  text-decoration:none;  
  cursor:pointer; 
}
p{
  font-family: $gill-sans;
}
.title{
  // text-transform: uppercase;
  // font-weight: bolder;
  font-size: 30px;
  // letter-spacing: 1.2px;
}
  