$prpl1: #8841BF;
$prpl2: #76489A;
$prpl3: #75439C;
$prpl4: #683F82;
$prpl5: #4E3260;
$prpl6: #472363;
$prpl7: #3A1F50;
$prpl8: #352341;
$prpl9: #341A44;
$prpl10: #250C38;
$blc: #000;
$wht1: #fff;
$wht2: #E8E8E8;
$gry1: #D9D9D9;
$gry2: #DADADA;
$gry3: #969191;
$grn: #5EB57C;
$red: #CD4C4C;
