
*,
*::before,
*::after { box-sizing:border-box; }

body,
h1, h2, h3, h4, h5, h6, 
p, 
ul, ol, dd,
fieldset{
  margin:0; 
  padding:0; 
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   
  -webkit-user-select: none;
  user-select: none;
  background-color: $prpl5;
  color: $wht1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
ul, ol, dd { 
  list-style:none; 
}
fieldset, input { 
  border-width:0; 
  outline: none;
}
a { 
  text-decoration:none;  
  cursor:pointer; 
  &:hover{
    color: $wht1;
  }
}


button{
  outline: none;
}
a,button{
  color: $wht1;
}

.container{
  padding: 0 20px;
}
:is(.room, .gameplay){
  padding: 26px 0 80px 0;
}
.general-btn {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;

  &:active{
    color: $gry1;
  }
}

.title{
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 16px;
}


.modal-backdrop{
  background-color: #272727d4;
}


.modal-content,
.content-block{
  background-color: $prpl4;
  border: $border_blc;
  border-radius: 10px;

}

.modal-content{
  padding: 16px 20px;
  margin: 76px auto;
  width: 92%;
  -webkit-box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.4) inset;
}

.content-block{
  &__body{
    background-color: $prpl5;
    border: $border_blc;
    border-radius: 5px;
    padding: 10px 14px;
  }
  &__title{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 18px;
    margin-top: 32px;
    letter-spacing: 1.2px;
  }
  &__desc{
    line-height: 22px;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    word-wrap: break-word;
  }
 
 
}
.modal-window{
  &__header{
    display: flex;
    flex-direction: column-reverse;
  }
  &__header,
  &__footer{
    border: 0;
    padding: 0;
  }
  &__title{
    margin-top: 0;
  }
  &__subtitle{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  &__body{
    margin-bottom: 34px !important; 
  }
  &__body-desc{
    height: 306px;
  }
  &__body-opt{
    width: 92%;
    height: 168px;
    text-align: center;
    margin: 0 auto;
    // overflow-y: scroll;
  }
  &__img{
    filter: drop-shadow(-5px 7px 4px rgba(0, 0, 0, 0.3));
    transform: rotate(-6deg);
    margin: 10px 0 25px 0;
    &:nth-child(2){
      width: 116px;
      height: 116px;
    }
    &:nth-child(3){
      width: 122px;
      height: 122px;
    }

  }
  &__btn{
    background-color: $prpl5;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border: $border_blc;
    padding: 6px 16px;
    border-radius: 5px;
    transition: 0.2s;
    margin-bottom: 18px;

    &:active{
      background-color: $prpl9;
    }
  }
}
.repeat-btn{
  border: 0;
  background-color: transparent;
  padding: 4px 8px 0 0;
  cursor: pointer;
}

@media (max-width: 320px) {

  .modal-window{
   
    &__body-desc{
      overflow-x: scroll;
    }
   
  }
  
  
   
}
@media (min-width: 576px) {
  .container{
    padding: 0;
  }
  
   
}

@media (min-width: 576px){
  
  .additional-window{

    &__desc{
      line-height: 24px;
      font-size: 16px;
    }
  
  
  }
}