.gameplay{
    &__block{
        margin-top: 40px;
        padding: 20px 16px;
    }
    &__userName-timer{
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__user-name{
        font-size: 12px;
        letter-spacing: 0.08em;
        font-weight: 800;
        text-transform: uppercase;
    
    }
    &__timer{
        background-color: $prpl6;
        width: 46px;
        height: 46px;
        padding: 7px 9px;
        border: $border_blc;
        border-radius: 50%;
    }
    &__timer-nums{
        font-weight: 800;
        letter-spacing: 0.08em;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__cur-word-block{
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
    &__repeat-btn{
        width: 22px;
        height: 16px;
        border: 0;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../../images/other-icons/repeat-btn.png');
        cursor: pointer;
        margin-right: 8px;
    }
   
    &__cur-word-title{
        font-size: 14px;
        letter-spacing: 0.08em;
        font-weight: 800;
        text-transform: uppercase;
    }
    &__word-container{
        height: 140px;
    }
    &__cur-word{
        word-wrap: break-word;
        font-size: 14px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        font-weight: 700;
    }


}
