.gameplay{
    &__block{
        padding: 20px 16px;
    }
    &__userName-timer{
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__user-name{
        font-size: 12px;
        letter-spacing: 0.08em;
        font-weight: 800;
        text-transform: uppercase;
    
    }
    &__timer{
        background-color: $prpl6;
        width: 46px;
        height: 46px;
        padding: 7px 9px;
        border: $border_blc;
        border-radius: 50%;
    }
    &__timer-nums{
        text-align: center;
        font-weight: 800;
        letter-spacing: 0.08em;
        font-size: 20px;
        text-transform: uppercase;
    }
    &__cur-word-block{
        display: flex;
        align-items: center;
       
    
    }
    &__cur-word-title{
        font-size: 14px;
        letter-spacing: 0.08em;
        font-weight: 800;
        text-transform: uppercase;
        
    }
    &__word-container{
        height: 140px;
        margin-top: 8px;
        overflow-y: auto;
    }
    &__cur-word{
        word-wrap: break-word;
        font-size: 14px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__mic-btn{
        display: block;
        width: 82px;
        height: 82px;
        margin: 20px auto;
        background-color: $prpl5;
        border: $border_blc;
        // padding: 16px 24px;
        border-radius: 50%;
        transition: .5s ease-in;
        &:active{
            box-shadow: 0px 2px 12px 4px rgb(0 0 0 / 32%) inset;
            .icon-mic{
                color: #e8e8e8b8;
            }
        }
    }
   
    


}


@media (min-width: 992px) {
    .gameplay{
        &__block{
            height: 420px;
        }
        &__main-content{
            display: flex;
            align-items: center;

            
        }
        &__word-container {
            height: 140px;
            margin-top: 8px;
            width: 35vw;
        }
    }
    
}