@mixin borders($border_left, $border_right) {
    border-left: $border_left;
    border-right: $border_right;
}

  
.main{
    padding-top: 80px;
    width: 100%;
    
    &__switch-btns-block{
        display: flex;
        justify-content: center;
    }
    &__switch-btns{
        width: 100%;
        padding: 8px 0;
        box-sizing: border-box;

        border-radius: 5px 5px 0 0;
        border-top: $border_blc;
        border-bottom: 0;

        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 900;
        background-color: $prpl1;
    }
    .switch-btn_checked{
        background-color: $prpl2;
    }
    &__switch-btns_border-left{
        @include borders($border_blc, 0);
    }
    &__switch-btns_border-right{
        @include borders(0, $border_blc);
    }
    &__contents{
        background-color: $prpl1;
        border-radius: 0 0 10px 10px;
        border: $border_blc;
        border-top: 0;
        padding: 40px 20px;
    }
    &__title{
        
        margin: 0 auto;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    &__chg-img-block{
        position: relative;
    }
    &__chg-img-btn{
        width: 30px;
        height: 30px;
        padding: 0px;
        box-sizing: border-box;

        border-radius: 50%;
        border: $border_blc;
        background-color: $gry1;

        position: absolute;
        bottom: -3px;
        right: 2px;

        transition: 0.2s;
        &:active{
            background-color: $gry4;
        }
    }
}
.auth-form{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__input{
        margin-top: 16px;
        width: 180px;
        padding: 7px 6px;
        
        border-radius: 5px;
        border: $border_blc;
        
        font-size: 12px;
        background-color: $wht2;
        text-align: center;
        &::placeholder{
            color: $gry3;
        }
    }
    &__submit{
        margin-top: 16px;
        width: 180px;
        padding: 8px;
        
        background-color: $prpl7;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
      

        border: $border_blc;
        border-radius: 5px;

        transition: 0.2s;

        &:active{
            
            background-color: $prpl10;
        }

    }

}


@media (min-width: 768px) {
    .main{
        width: 460px;
        margin: 0 auto;
      
        &__switch-btns{
            padding: 12px 0;
        }
      
        &__title{
            font-size: 20px;
        }
       
    }
  
}